.container-box{
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 155px auto autopx auto;
  grid-template-areas:
      'FilhoLogo'
	  'formulario'
      'FilhoEsqSenha'
      'FilhoCadastro'
  ;
}
body{background: linear-gradient(to bottom, #16222A, #3A6073) no-repeat fixed; }



/*ESTILIZA«√O DO LOGO*/
.FilhoLogo{grid-area: FilhoLogo; }
.logo{width: 200px; height: 155px; margin:auto;}
.logo img{width: 120px; margin-left: 40px; margin-top: 80px;}
/*ESTILIZA«√O DO INPUT*/
.formulario{grid-area: formulario}
.formFormulario{ width: 250px; margin: auto; color: #757575;}
.formFormulario input{ width: 250px; height: 40px; padding: 10px; margin-bottom: 10px; }
.campo:focus{border: 1px solid #1C1C1C;}
/*ESTILIZA√á√ÉO DO BOT√ÉO DE LOGIN*/
.FilhoBotao{grid-area: FilhoBotao;}
.BotaoLogin{width: 255px;  margin: auto;}
.botao{cursor: pointer; font-size: 20px; color: #fff; width: 100%; height: 50px; border-radius: 5px; text-align: center; padding: 10px; border: none; background-color: #14D4E2; margin: 30px 0;}
/*TEXTOS*/
.texto{text-align: center; margin-bottom: 10px; }
.texto a{color: #fff; }
.FilhoEsqSenha{grid-area: FilhoEsqSenha;}
.FilhoCadastro{grid-area: FilhoCadastro;}
